.bg-maker{
  background-image: url("hulobiral3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.neon-glow {
  text-shadow:
    0 0 5px #facc15,
    0 0 10px #facc15,
    0 0 20px #facc15,
    0 0 40px #eab308,
    0 0 80px #ca8a04;
}

.btn{
  border: none;
  box-shadow: none;
}